@model ICollection<KlimaWatch.Data.Entities.OwmModels.HourlyWeather>;

@{
    ViewData["Title"] = "Weather";

    <h1 class="text-center">Weather</h1>
    @if (Model.Count == 0)
    {
        <h1 class="text-center text-secondary">No weather data :(, wait for a few hours :)</h1>
    }
    else
    {
        <table class="table table-hover table-bordered auto-datatable text-center">
            <thead>
            <tr>
                <th class="fw-bold">Time</th>
                <th class="fw-bold">Place Name</th>
                <th class="fw-bold">Weather</th>
                <th class="fw-bold">Temperature</th>
                <th class="fw-bold">Pressure</th>
                <th class="fw-bold">Humidity</th>
                <th class="fw-bold">WindSpeed</th>
                <th class="fw-bold">Sunrise</th>
                <th class="fw-bold">Sunset</th>
            </tr>
            </thead>
            @foreach (var weather in Model)
            {
                <tr>
                    <td>@weather.Time</td>
                    <td>@weather.PlaceName</td>
                    <td>@weather.WeatherDesc</td>
                    <td>@weather.Temperature</td>
                    <td>@weather.Pressure</td>
                    <td>@weather.Humidity</td>
                    <td>@weather.WindSpeed</td>
                    <td>@weather.Sunrise.ToString("HH:mm")</td>
                    <td>@weather.Sunset.ToString("HH:mm")</td>
                </tr>
            }
        </table>
    }
}