@using KlimaWatch.Data.Entities.Nodes
@model KlimaWatch.Models.NodePageViewModel

@{  
    ViewData["Title"] = "NodeTable";
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
        rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script
        src="https://kit.fontawesome.com/50cde61edc.js"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    double LuxPercentage(double lux)
    {
        var maxValue = 255;
        var onePercentage = maxValue / 100;
        return Math.Round(lux/onePercentage);
    };

    double ConvertLux(double lux)
    {
        if(lux < 123)
            return lux;
        else{
            lux = (Math.Log(lux,1.04));
            if(lux > 255){
                return 255;
            }return lux;
        }
        
    }
    
    <div class="container">
        <h1 class="text-center">@Model.NodeInfo.DeviceName</h1>

        <table class="table table-hover table-bordered auto-datatable text-center">
            <thead>
            <tr>
                <th class="fw-bold">DeviceEui</th>
                <th class="fw-bold">AppId</th>
                <th class="fw-bold">Device Name</th>
                <th class="fw-bold">Lon</th>
                <th class="fw-bold">Lat</th>
                <th class="fw-bold">Alt</th>
                <th class="fw-bold">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.NodeInfo.DeviceEui</td>
                <td>@Model.NodeInfo.ApplicationId</td>
                <td>@Model.NodeInfo.DeviceName</td>
                <td>@Model.NodeInfo.Longitude</td>
                <td>@Model.NodeInfo.Latitude</td>
                <td>@Model.NodeInfo.Altitude</td>
                <td>@Model.NodeInfo.SensorType</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover table-bordered auto-datatable text-center" id="nodeTable">
            <thead>
            <tr>
                <th class="fw-bold">Time</th>
                <th class="fw-bold">Spreading Factor</th>
                @if (Model.NodeInfo.SensorType == SensorType.Indoor)
                {
                    <th class="fw-bold">Temperature</th>
                    <th class="fw-bold">Light</th>
                    <th class="fw-bold">Pressure</th>
                }
                else
                {
                    <th class="fw-bold">Indoor Temp</th>
                    <th class="fw-bold">Humidity</th>
                    <th class="fw-bold">Battery Voltage</th>
                    <th class="fw-bold">Light</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var message in Model.NodeMessages)
            {
                <tr>
                    <td>@message.ReceivedAt</td>
                    <td>@message.SpreadingFactor</td>
                    @if (Model.NodeInfo.SensorType == SensorType.Indoor)
                    {
                        var indoorMessage = message as IndoorNodeMessage;
                        <td>@indoorMessage?.Temperature °C</td>
                        <td>@LuxPercentage((double)indoorMessage?.Light)%</td>
                        <td>@indoorMessage?.Pressure Pa</td>
                    }
                    else
                    {
                        var outdoorMessage = message as OutdoorNodeMessage;
                        var luxConverted = LuxPercentage(ConvertLux((double)outdoorMessage?.Illumination));
                        <td>@outdoorMessage?.IndoorTemp °C</td>
                        <td>@outdoorMessage?.Humidity %rh</td>
                        <td>@outdoorMessage?.BatteryVoltage V</td>
                        <td>@luxConverted %</td>
                            
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>

    
    <script>
        $('#nodeTable').DataTable();
    </script>
}