@model ICollection<KlimaWatch.Data.Entities.OwmModels.HourlyWeather>;
@{
    ViewData["Title"] = "Table";
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
        rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script
        src="https://kit.fontawesome.com/50cde61edc.js"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    
    @if (Model.Count == 0)
    {
        <h1 class="text-center text-secondary">No weather data :(, wait for a few hours :)</h1>
    }
    else
    {
        <div class="container">
            <h1> Statistical Table </h1>
            <table class="table table-hover table-bordered auto-datatable text-center" id="sortTable">
             <thead>
                 <tr>
                     <th class="fw-bold">Time</th>
                     <th class="fw-bold">Place Name</th>
                     <th class="fw-bold">Weather</th>
                     <th class="fw-bold">Temperature</th>
                     <th class="fw-bold">Pressure</th>
                     <th class="fw-bold">Humidity</th>
                     <th class="fw-bold">WindSpeed</th>
                     <th class="fw-bold">Visibility</th>
                     <th class="fw-bold">Sunrise</th>
                     <th class="fw-bold">Sunset</th>
                 </tr>
            </thead>
             <tbody>
                 @foreach (var weather in Model)
                    {
                        <tr>
                            <td class="small">@weather.Time</td>
                            <td><a asp-action="NodeTable" asp-route-id="@weather.NodeInfoDeviceEui">@weather.PlaceName</a></td>
                            <td>@weather.WeatherDesc</td>
                            <td>@weather.Temperature</td>
                            <td>@weather.Pressure</td>
                            <td>@weather.Humidity</td>
                            <td>@weather.WindSpeed</td>
                            <td>@weather.Visibility</td>
                            <td>@weather.Sunrise.ToString("HH:mm")</td>
                            <td>@weather.Sunset.ToString("HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <script>
            $('#sortTable').DataTable();
        </script>
    }
}
